<a href="https://colab.research.google.com/github/diwakarojha/Python_ML_Basics/blob/main/1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import sys and check python Version
import sys
print(sys.version)

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]

### If Else

In [2]:
##If else
a=2
if a>3:
  print("hi")
elif a>6:
  print("hello")
else:
  print("Bye")

Bye

### Switch

In [4]:
#Switch Case below

a=2
match a:
  case 2:
    print("Match")
  case 4:
    print("Greatet than 4")

Match

### Lambda

In [8]:
#lambda function
x1 = lambda x, y: x + y
x1(2,3)

5

### List

In [28]:
# List operations
l1=[1,2,3,"hello",(3,5)]

x=["A","B",6,5,4]
print([1,2,3] + x) # Concatnate
x.append(7)
print(x)
x.insert(-1,8) #Insert before the given position element
print(x)
del x[1]
print(x)
x.remove("A") #Remove first occurrence of value.
print(x)
x.sort()
print(x)
print(sorted(x))
# x.pop()

[1, 2, 3, 'A', 'B', 6, 5, 4]
['A', 'B', 6, 5, 4, 7]
['A', 'B', 6, 5, 4, 8, 7]
['A', 6, 5, 4, 8, 7]
[6, 5, 4, 8, 7]
[4, 5, 6, 7, 8]
[4, 5, 6, 7, 8]

In [29]:
(1,2,3)

(1, 2, 3)

### Tuples

**Tuples are immutable objects, lists are mutable**. This means that tuples cannot be changed while the lists can be modified.

In [32]:
a=(1,2,3,3,"hi")
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 3, 'hi')

In [78]:
print(a[0]) #Access individual tuple object
print(a[:3])
# a[0]=8 #will throw error

1
[1, 2, 3]

### Set
A set is a unique collection of objects in Python. You can denote a set with a curly bracket {}.

In [47]:
s={1,2,3,3,4}
print(s)

print("List to Set: ", set([1,2,2,3,4,4,5])) #list to set

s.add(5)
print("Added 5: ",s)

s.update([2, 3, 4, 5, 6,7,7,8])
print("update - Add Multiples",s)

s.remove(1) #raise a key error if the value doesnâ€™t exist

s.discard(3) #does not raise error

{1, 2, 3, 4}
List to Set:  {1, 2, 3, 4, 5}
Added 5:  {1, 2, 3, 4, 5}
update - Add Multiples {1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
s1 = {1,2,3}
s2 = {2,3,4,9}
print("Union:",s1.union(s2))

print("intersection:",s1.intersection(s2))

print("difference:",s1.difference(s2))

print( "Symmetric Differences: ", s2.symmetric_difference(s1))

Union: {1, 2, 3, 4, 9}
intersection: {2, 3}
difference: {1}

### List, Set, Dict Comprehension
a concise way to create lists.

In [68]:
x= [1,2,3,4,4]
print(
    [z**2 for z in x],
    [z for z in x if z%2==0],
    [z if z%2==0 else 0 for z in x ],

    sep ="\n")

print("Set and Dict comprehension")

print(
    {z for z in x},
    {"Hi"+str(k):v for v,k in zip(x,x)},
    sep="\n"
)

[1, 4, 9, 16, 16]
[2, 4, 4]
[0, 2, 0, 4, 4]
Set and Dict comprehension
{1, 2, 3, 4}
{'Hi1': 1, 'Hi2': 2, 'Hi3': 3, 'Hi4': 4}

### Exception handling

In [70]:
def divide(dividend , divisor):
  try:
    print(dividend / divisor)
  except ZeroDivisionError:
    print('You can not divide by 0')
  finally:
    print('Execution finished')
divide(2,3)

0.6666666666666666
Execution finished

### args and kwargs in function

In [74]:
def function1(*args,**kwargs):
  print("inside function")
  if args:
    print(args[0])
  if kwargs:
    print(kwargs["k1"])

function1()
function1("Hi")
function1("Hi",k1="k1_val")

inside function
inside function
Hi
inside function
Hi
k1_val

### Encapsulation:
helps to protect the data and methods of an object from unauthorized access and modification. It is a way to achieve data abstraction, which means that the implementation details of an object are hidden from the outside world, and only the essential information is exposed.

In [ ]:
dict1.keys()

dict_keys(['key1', 'key2'])

### Loops

In [77]:
a=[1,2,3,4,5]
for i in a:
  print("val: ",i)

for i in range(len(a)):
  print("val :",a[i])

while True:
  print("all good!")
  break

val:  1
val:  2
val:  3
val:  4
val:  5
val : 1
val : 2
val : 3
val : 4
val : 5
all good!

### Functions

In [ ]:
def add(a,b):
  c=a+b
  return c

In [ ]:
add(3,4)

7

### Classes

In [ ]:
class Circle:
  def __init__(self,radius):
    self.radius=10

  def set_color(self,color):
    self.color=color

c1=Circle(10)
c1.set_color("red")
print(c1.color)

red